%div.user{ :class => cycle(:odd, :even), :id => member.dom_id}
  .actions= member.action_links.join(" ")
  %h3
    %img{:src => "#{member.avatar}", :alt => ""}
    = link_to member.email
    %span{:class => member.status}= member.status