- title "Team members"

- if current_user.account_holder?
  .buttons
    = link_to "Create a new user", new_user_path, :class => "add new_user"

.users
  - @team.members.each do |member|
    = render "member", :object => present_user(member)