- title "Dashboard"

.content.logs
  - if @logs && !@logs.empty?
    .updates
      - @logs.group_by{ |l| l.created_at.at_beginning_of_day}.each do |day, logs|
        %h3
          %span= show_day(day)
        - present_logs(logs) do |log|
          = render "log", :object => log
  - else
    %p There are no logs

  = will_paginate @logs, :previous_label => '&larr; Newer', :next_label => 'Older &rarr;'
