.inner
  %h3 Reset Your Password
  
  - semantic_form_for @user, :url => password_reset_path(:id => @user.perishable_token) do |f|
    - f.inputs do
      = f.input :password
      = f.input :password_confirmation
    - f.buttons do
      = f.commit_button "Update my password and log me in"