- title "Recover password"

.content
  - form_tag password_resets_path, :class => "formtastic account large" do
    %fieldset.inputs
      %ol
        %li.string.required
          = label_tag :email
          = text_field_tag :email, {}, :size => 50
    %fieldset.buttons
      %ol
        %li.commit
          = submit_tag "Request password reset"
