.DS_Store
log/*.log
tmp/**/*
tmp/*
config/database.yml
db/*.sqlite3
coverage/*
coverage.data
*~
*.tmproj
public/stylesheets/compiled/*
rerun.txt
webrat-*.html
capybara-*.html
vendor/bundler_gems
vendor/cache/*.gem
.bundle
Gemfile.lock
