- title "Result"

= render "brand_result", :object => present_brand_result(@brand_result)  

%div.comments
  - @comments.each do |comment|
    = render "comments/comment", :object => comment
  
  - semantic_form_for [@brand_result, @comment] do |f|
    - f.inputs do
      = f.input :content, :label => "Leave a comment"
    - f.buttons do
      = f.commit_button "Post comment"