ul#accepted_cards
  +horizontal-list
  li
    width: 39px
    height: 25px
    text-indent: -9999px
    margin-right: 5px
    padding: 0
    background: transparent url(../../images/accepted_card_types.png) no-repeat 0 0
    &.mastercard                                                 
      background-position: -39px 0
    &.amex                                                       
      background-position: -78px 0
    &.discover                                                   
      background-position: -117px 0
    &.jcb                                                        
      background-position: -156px 0
    &.dinners                                                    
      background-position: -195px 0

#errorExplanation
  margin-bottom: 10px
  ul
    +no-bullets
    li
      padding-left: 10px
      color: #8A1F11

#card-info, #card-form
  +column(12, true)
  
#plan-info
  +column(12)
  
#transactions-info
  +column(24, true)
  margin-top: 10px
  border-top: 1px solid #ddd
  
#card-info, #plan-info, #transactions-info
  h3
    :padding-left 5px
    +strong
    +font-size(14px)
  table
    th, td
      :padding 3px 5px
    th
      :font-weight bold
      +right
      
#transactions-info
  table
    th
      +left