ul#accepted_cards
  +horizontal-list
  li
    :width 31px
    :height 25px
    :text-indent -9999px
    :margin-right 5px
    &.visa
      :background transparent url(../../images/accepted_card_types.png) no-repeat 0 0
    &.mastercard                                                 
      :background transparent url(../../images/accepted_card_types.png) no-repeat -39px 0
    &.amex                                                       
      :background transparent url(../../images/accepted_card_types.png) no-repeat -78px 0
    &.discover                                                   
      :background transparent url(../../images/accepted_card_types.png) no-repeat -117px 0
    &.jcb                                                        
      :background transparent url(../../images/accepted_card_types.png) no-repeat -156px 0
    &.dinners                                                    
      :background transparent url(../../images/accepted_card_types.png) no-repeat -195px 0

#errorExplanation
  :margin-bottom 10px
  ul
    +no-bullets
    li
      :padding-left 10px
      :color #8A1F11

.card-info, #plan-info, .transactions-info
  table
    th, td
      :padding 3px 5px
    th
      :font-weight bold

.transactions-info
  table
    td
      :border-top 1px solid #ddd
  h3
    :padding-left 5px
    :font
      :size 14px
      :weight bold