form.formtastic
  +reset-form
  +stack-form("935px", "auto", "0", "right")
  fieldset
    :margin 0
    :padding 0
    :border none
    ol
      li
        :margin-bottom 10px
        label
          font-size: 12px
          display: block
        &.string, &.password
          input
            border: solid 1px rgb(160,160,160)
        &.error
          +error
        &.text
          textarea
            :width 500px
            :height 100px
  &.large
    fieldset ol li
      &.string, &.password
        input
          font-size: 28px
  &.account
    +stack-form("455px", "auto", "0", "right")
    fieldset ol li
      &.string, &.password
        input
          :width 480px
      &.boolean
        input
          :margin 0 5px 0 0
        &.error
          input
            :width auto
      &.error
        input
          :width 455px
      &.inline-error
        :width 482px
        p
          +error
  
  &.card
    fieldset ol 
      li
        &.string
          :width 200px
          :float left
          :clear none
          :margin-right 10px
          input
            :width 200px
            :font-size 15px
        &#account_postal_code_input, &#account_cvv_input
          :clear both
        &#account_cvv_input
          input
            :width 100px
          
      
      
      