form.formtastic
  +reset-form
  +stack-form("935px", "auto", "0", "right")
  fieldset
    :margin 0
    :padding 0
    :border none
    ol
      li
        :margin-bottom 10px
        label
          font-size: 12px
          display: block
        &.string, &.password
          input
            border: solid 1px rgb(160,160,160)
        &.error
          +error
  &.large
    fieldset ol li
      &.string, &.password
        input
          font-size: 28px
  &.account
    +stack-form("455px", "auto", "0", "right")
    fieldset ol li
      &.string, &.password
        input
          :width 480px
      &.error
        input
          :width 455px
      &.inline-error
        :width 482px
        p
          +error