+yui-base-fonts

html
  margin: 0px
  padding: 0px

body
  margin: 0px
  padding: 0px
  background: rgb(146,146,146)
  :color = !general_font_color

h1, h2, h3, h4
  font-family: 'Lucida Grande', Verdana, Arial, sans-serif
  color: rgb(0,0,0)
  margin: 0px

h2
  font:
    size: 14px
    weight: bold
  margin: 0px
  margin-top: 10px
  padding-bottom: 4px
  

h3
  font-size: 13px
  padding: 10px
  margin: 0px

p
  margin: 0px
  +font-size(13px)

a
  :color = !general_link_color
  &:hover
    :color #FFFFFF
    :background-color = !general_link_color
    :text-decoration none
    
  .read &
    :color = !general_link_color + #666666
    &:hover
      :color #FFFFFF
      :background-color = !general_link_color + #666666
      :text-decoration none

img
  margin: 0px
  border: 0px

br
  clear: both

div
  &.content_wrap
    width: 980px
    margin: 0px auto
    background: rgb(255,255,255)

    div.heading
      background: rgb(228,241,246)
      color: rgb(160,160,160)
      border-bottom: solid 1px rgb(170,184,190)
      margin: 0px
      padding: 10px
      padding-bottom: 5px

      h2
        font-size: 14px
        margin: 0px

      div.actions
        float: right
        font-size: 12px

        a
          font-size: 11px
          padding: 2px 4px

          &.active
            color: rgb(255,255,255)
            background: rgb(0,0,255)
            text-decoration: none
  &.main-content
    padding: 10px
    clear: both
    +clearfix
    :min-height 500px
    
  &.content
    &.account
      h3
        
  
  &.buttons
    padding: 10px
    +clearfix
    a
      outline: none
    .add
      display: block
      float: right
      width: 100px
      height: 24px
      text-indent: -9999px
      outline: none

    .back
      display: block
      float: right
      width: 100px
      height: 24px
      text-align: right
      &:hover
        background-color: transparent
        color: rgb(0,0,255)
    
    .edit
      +hover-link
      display: block
      float: right
      width: 100px
      height: 24px
      text-align: right
      &:hover
        :background-color transparent
        :color rgb(0,0,255)
      
table.index
  :width 100%
  :font normal 12px  Arial, Tahoma, Verdana,  sans-serif
  tr
    td
      :vertical-align top
      :padding 10px 4px 4px 4px
      :border-bottom 1px solid #BBB
    &:last-child
      td
        :border none
        
.status
  span.tag
    :font-weight normal
    :padding 1px 5px
    :color #FFFFFF
    &.follow_up
      :background = !follow_up_color
      .read &
        :background = !follow_up_color + #333333
    &.done
      :background = !done_color
      .read &
        :background = !done_color + #666666
    &.comment
      :background = !comment_color
    &.normal
      :background = !rejected_color
    &.negative
      :background = !negative_color
    &.positive
      :background = !positive_color
    &.neutral
      :background = !neutral_color

div#preloaded-images
  position: absolute
  overflow: hidden
  left: -9999px
  top: -9999px
  height: 1px
  width: 1px