div
  &.header
    background: rgb(30,30,30)
    border-bottom: solid 1px rgb(0,0,0)
    margin: 0px
    padding: 10px 20px
    .top
      +clearfix
      :width 980px
      :margin 0px auto
      :padding 0px
      h1
        display: block
        font-size: 17px
        font-weight: normal
        :color #FFFFFF
        :float left
        a
          color: rgb(225,225,225)
          text-decoration: none
          &:hover
            color: rgb(225,225,225)
            background: transparent

      .account-links
        :float right
        ul
          +horizontal-list
          li
            :font
              :size 13px
              :weight normal
            :color #FFFFFF
            a
              :border-left 1px solid #FFF
              :color #FFFFFF
              +hover-link
              :font
                :size 13px
                :weight normal
              :padding-left 7px
              :display block
              :outline none
              &:hover
                :background-color transparent

  &.navigation_wrap
    border-top: solid 1px rgb(200,200,200)

  &.navigation
    width: 980px
    height: 30px
    margin: 0px auto
    margin-top: 5px
    padding: 0px

    ul
      margin: 0px
      padding: 0px

    li
      display: block
      float: left
      background: url('/images/navigation_li_bg.jpg') no-repeat right top
      list-style: none
      margin: 0px
      margin-right: 4px
      padding: 0px

    a
      display: block
      float: left
      font-size: 12px
      background: url('/images/navigation_a_bg.jpg') no-repeat left top
      color: rgb(255,255,255)
      height: 16px
      text-decoration: none
      margin: 0px
      padding: 5px 12px

      &:hover
        color: rgb(255,255,0)

    li
      &.active
        background: url('/images/navigation_li_active_bg.jpg') no-repeat right top

        a
          background: url('/images/navigation_a_active_bg.jpg') no-repeat left top

      &.right_side
        float: right
        margin-right: 0px
        margin-left: 4px

    a.user_start
      margin-left: 10px