body.bp
  #hd
    :background-color #1B5790
    +rounded-top
    +container
    h1
      :margin 10px
      :float left
      :font
        :size 175%
        :weight bold
      a, a:visited
        :text-decoration none
        :color white
        
    ul#account-links
      +horizontal-list
      :margin 10px 10px 0 0
      :float right
      li
        :color #ffffff
        :margin-left 15px
      a
        :color #ffffff
        :text-decoration none
        &:hover
          :text-decoration underline

  #nav    
    +column(25)
    :margin-top 5px
    ul
      +horizontal-list
      li
        :margin-left 10px
        :padding 0 5px 0 0

        a
          :background-color #466BB1
          :color #FFFFFF
          :text-decoration none
          :display block
          :padding 4px 8px 5px
          :text-align center
          +rounded-top
          &:hover
            :background-color #97BAFF
        &.selected
          a
            :background-color #97BAFF
        &.right
          :float right
          :margin-right 9px
            
            