#entries
  :font-weight bold
  :margin-bottom 10px
#results
  td
    :vertical-align top
    :padding 10px 4px 4px 4px
    :border-bottom 1px dashed #999
    &.created_at
      :white-space nowrap
      
    &.body
      :color #555
      a
        +hover-link
        &:visited
          &:hover
            :color #000
    
    &.source
      :border none
      a
        :text-indent -999px
        :width 16px
        :height 16px
        :display block
        :background transparent url() no-repeat 50% 50%
    
        &.twitter
          :background-image url("/images/balloon-twitter.png")

        &.blog
          :background-image url("/images/feed-balloon.png")
  tr:last-child
    td
      :border none