@import pagination.sass
@import text.sass
@import flash
@import form.sass
@import sidebar.sass
@import tools.sass
html, body
  :background-color #E5ECF3

#header
  :background-color #1B5790
  :padding 0 10px
  h1
    :margin 10px 0
    :float left
    a, a:visited
      :text-decoration none
      :color white

#footer
  :font-size 85%
  :text-align center
  :color #555
  :margin-top 1em
  :padding-bottom 1em

  p
    :margin 0
    :line-height 1.6em

#page
  :background-color #fff
  :padding 10px 0
  :margin-top 20px
  :min-height 35em

#filters
  :margin-bottom 1em

#actions
  form, a
    :float right
  a
    :font-size 12px
    :text-decoration none
  form
    :margin-top 1px

#results
  td
    :text-align top
    :padding 4px
    
    &.body
      a
        :display block
        :text-decoration none
        :color #555
        
        &:hover
          :color #000
    
    &.source
      a
        :text-indent -999px
        :width 16px
        :height 16px
        :display block
        :background transparent url() no-repeat 50% 50%
    
        &.twitter
          :background-image url(../images/balloon-twitter.png)

        &.blog
          :background-image url(../images/feed-balloon.png)

#searches
  :display relative
  
  li
    :display list-item
    a.delete
      :float right

.account
  :float right
  ul
    :padding-top 10px
    li
      :list-style none
      :float left
    a
      :color #ffffff
      :text-decoration none
      &:hover
        :text-decoration underline