.inner
  %h3 Edit your account information

  .span-12
    - semantic_form_for @user, :url => account_path do |f|
      - f.inputs do
        = f.input :password
        = f.input :password_confirmation
      - f.buttons do
        = f.commit_button "Update information"
        or
        = link_to "Cancel", brand_results_path