- title "Create a new user"

.content
  - semantic_form_for [:team, @user], :html => { :class => "large" } do |f|
    - f.inputs do
      = f.input :login
      = f.input :email
    - f.buttons do
      = f.commit_button "Create user"