- title "Invite your friends"

.content
  - semantic_form_for @invitation do |f|
    - f.inputs  do
      = f.input :recipient_email, :label => "Friend's email address"
    - f.buttons do
      = f.commit_button "Invite!"
