body.bp
  .formtastic
    +stack-form("945px", "auto", "0", "right")
    fieldset
      :margin 0
      :padding 0
      :border none
      ol
        li
          :padding-left 10px
          &.password
            input
              :background-color #FFFFFF
              :margin 0.5em 0
              :padding 5px
          &.inline-error
            p.inline-errors
              +error