- title "Monitored brands"

- if current_user.account_holder?
  .buttons
    = link_to "Add a new brand", new_brand_path, :class => "add new_brand"

.brands
  - @brands.each do |brand|
    = render "brand", :object => present_brand(brand)