.inner
  .right
    = link_to 'Add a new brand', new_brand_path

  %h3 Monitored brands
  %ul#brands
    - @brands.each do |brand|
      %li= link_to h(brand.name), edit_brand_path(brand)
      %li
        %ul#terms
          - brand.queries.each do |query|
            %li= query.term
          