.inner
  .span-16.last
    %h3 Add brand
  .span-9.last.right
    = link_to "Go back", brands_path
  .clear

  .box
    %h4 Settings
    - semantic_form_for @brand do |f|
      - f.inputs do
        = f.input :name
      - f.buttons do
        = f.commit_button 'Create'

- content_for :head do
  :javascript
    $(document).ready(function(){
      $("#brand_name").focus();
    });