.grid_6
  %h2 Add brand

.grid_6.right
  #actions
    = link_to "Go back", brand_results_path
.clear

.grid_6
  - form_for @brand do |f|
    %fieldset
      %legend Brand
      = render :partial => 'fields', :locals => { :f => f }

      %p
        = f.submit 'Create'

- content_for :head do
  :javascript
    $(document).ready(function(){
      $("#brand_name").focus();
    });