- title "Add brand"

.buttons
  = link_to "Go back", brands_path, :class => "back"

.content
  - semantic_form_for @brand, :html => { :class => "large" } do |f|
    - f.inputs do
      = f.input :name
    - f.buttons do
      = f.commit_button 'Create'

- content_for :head do
  :javascript
    $(document).ready(function(){
      $("#brand_name").focus();
    });