%html
  %head
    %title Brandizzle
    = stylesheet_link_tag '960', 'reset', 'text'
  %body
    .container_12
      #flash
        - flash.each do |name, msg|
          = content_tag :div, h(msg), :id => "flash_#{name}"
      
      = yield
