- title "Edit your account information"

- semantic_form_for @subscription, :url => account_subscription_path(@account), :html => { :class => "account large" } do |f|
  - f.inputs do
    = f.input :card_number
    = f.input :expiration_date
    = f.input :cvv, :label => "Card verification number"
  - f.buttons do
    = f.commit_button "Update information"