- title "Register for an account"

.content
  %p All we need from you to get started with BrandPulse is a login and an email address to send your password to.
    
  - semantic_form_for @account, :url => account_path, :html => { :class => "account large" } do |f|
    - f.fields_for :holder do |holder_form|
      - f.inputs do
        = holder_form.input :login
        = holder_form.input :email
      - f.buttons do
        = holder_form.commit_button "Create my account"
