- title "Register for an account"

.content
  - semantic_form_for @account, :url => account_path, :html => { :class => "account large" } do |f|
    - f.fields_for :holder do |holder_form|
      - f.inputs do
        = holder_form.input :login
        = holder_form.input :email
        =# holder_form.input :password
        =# holder_form.input :password_confirmation
      - f.buttons do
        = holder_form.commit_button "Create my account"