- title "Your account information"

%div
  Card Type: 
  = @account.card_type
%div
  Credit Card last 4 digits:
  = @account.card_number_last_4_digits

%div
  Credit Card expiration date:
  = @account.card_expiration_date

%div
  = link_to "Edit", edit_account_path